GOOGLE_SERVICE_ACCOUNT_JSON="{\"type\":\"service_account\",...}"
# или укажи путь к файлу вместо строки JSON
# GOOGLE_SERVICE_ACCOUNT_FILE="/absolute/path/to/credentials.json"
GSHEET_ID="your_google_sheet_id"
# можно заменить на полный урл листа
# GSHEET_URL="https://docs.google.com/spreadsheets/d/.../edit?usp=sharing"
GSHEET_WORKSHEET="Sheet1"
GSHEET_WORKSHEET_SOFTWARE="Software"
GSHEET_WORKSHEET_ISO_MSP="ISO/MSP"

ENABLE_PLAYWRIGHT=1
WORKER_COUNT=3
LINKEDIN_POSTS_LIMIT=5

OPENAI_API_KEY="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"
PERPLEXITY_API_KEY="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"
PERPLEXITY_MODEL="sonar"

SERPAPI_KEY="a418d88b0ad800be37c3af4fa0676c19eca60467bb50239bd66056d25705d85f"
NEWSAPI_KEY="zilPMELkgbcFj5QXe5VspCVQBZM0KCryN0G9IDHE"
APIFY_API_TOKEN="apify_api_..."

HTTP_TIMEOUT=15
MAX_COMPANIES=0
REPORT_DIR="reports"

